// 
// Brand
// --------------------------------------------------

.navbar-brand { 
	@include relative( null );
	display: inline-block;
	float: left;
	padding: 0; // $navbar-padding-vertical $navbar-padding-horizontal;
	margin: 0;
	margin-top: $content-margin-quarter;
	margin-left: $content-margin;
	@include font-size( $font-size-base );
	line-height: $line-height-computed;
	zoom: 1;
	vertical-align: middle;
	
	&:hover,
	&:focus { text-decoration: none;}

	@media query-desktop { 
		margin-top: 0;
		margin-left: 0;
	}

	> svg, 
	> img { 
		display: inline-block;
		vertical-align: middle;
		@include square( 48px );
	//	@include transition( all $transition-duration $transition-timing-function );

		@include query-desktop { 
			@include square( 64px );
		}
	}

//	@include query-desktop { 
//		.navbar > .container &, 
//		.navbar > .container-fluid & { margin-left: -( $content-margin );}
//	}

	.brand { 
		fill: $white;
		@include transition( fill $transition-duration $transition-timing-function );
	}
	
	&:focus .brand, 
	&:hover .brand { fill: $brand-primary-dark;}

	.navbar-brand-name { 
		display: inline-block;
		vertical-align: middle;
		margin-left: $content-margin-quarter;
		transform-style: preserve-3d;

		.navbar-brand-title { 
			margin: 0;
			line-height: 1.25em;
			color: $white;
			@include font-primary( $font-size-medium, bold );
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		.navbar-brand-description { 
			display: block;
			margin: 0;
			line-height: 1.25em;
			color: $white;
			@include font-primary( $font-size-base, light );

		//	@media( min-width: $screen-xs ){ 
		//		display: block;
		//	}
		}
	}
} 