//
// States
// --------------------------------------------------
//
// Bootstrap
// ----------------------------------------

$bootstrap-states: ( 
	default   : ( 
		color  : $brand-default, 
		button : ( 
			color  : $btn-default-color, 
			bg     : $btn-default-bg, 
			border : $btn-default-border
		)
	), 
	primary   : ( 
		color  : $brand-primary, 
		button : ( 
			color  : $btn-primary-color, 
			bg     : $btn-primary-bg, 
			border : $btn-primary-border
		)
	), 
//	secondary   : ( 
//		color  : $brand-secondary, 
//		button : ( 
//			color  : $btn-secondary-color, 
//			bg     : $btn-secondary-bg, 
//			border : $btn-secondary-border
//		)
//	), 
	success   : ( 
		color  : $brand-success, 
		button : ( 
			color  : $btn-success-color, 
			bg     : $btn-success-bg, 
			border : $btn-success-border
		),
		alert : ( 
			color  : $alert-success-text, 
			bg     : $alert-success-bg, 
			border : $alert-success-border
		),
		state : ( 
			color  : $state-success-text, 
			bg     : $state-success-bg, 
			border : $state-success-border
		)
	), 
	info      : ( 
		color  : $brand-info, 
		button : ( 
			color  : $btn-info-color, 
			bg     : $btn-info-bg, 
			border : $btn-info-border
		),
		alert : ( 
			color  : $alert-info-text, 
			bg     : $alert-info-bg, 
			border : $alert-info-border
		),
		state : ( 
			color  : $state-info-text, 
			bg     : $state-info-bg, 
			border : $state-info-border
		)
	), 
	warning   : ( 
		color  : $brand-warning, 
		button : ( 
			color  : $btn-warning-color, 
			bg     : $btn-warning-bg, 
			border : $btn-warning-border, 
		),
		alert : ( 
			color  : $alert-warning-text, 
			bg     : $alert-warning-bg, 
			border : $alert-warning-border
		),
		state : ( 
			color  : $state-warning-text, 
			bg     : $state-warning-bg, 
			border : $state-warning-border
		)
	), 
	danger    : ( 
		color  : $brand-danger, 
		button : ( 
			color  : $btn-danger-color, 
			bg     : $btn-danger-bg, 
			border : $btn-danger-border, 
		),
		alert : ( 
			color  : $alert-danger-text, 
			bg     : $alert-danger-bg, 
			border : $alert-danger-border
		),
		state : ( 
			color  : $state-danger-text, 
			bg     : $state-danger-bg, 
			border : $state-danger-border
		)
	), 
//	secondary : $brand-secondary
) !default;


//
// Form Fields
// ----------------------------------------
//
// Input Types
// ------------------------------

$input-types: ( 
	"[type='color']", 
	"[type='date']", 
	"[type='datetime']", 
	"[type='datetime-local']", 
	"[type='email']", 
	"[type='month']", 
	"[type='number']", 
	"[type='password']", 
	"[type='search']", 
	"[type='tel']", 
	"[type='text']", 
	"[type='time']", 
	"[type='url']", 
	"[type='week']", 
	"input:not([type])", 
	"textarea"
) !default;


//
// Button Types
// ------------------------------

$button-types: ( 
	"button", 
	"[type='button']", 
	"[type='reset']", 
	"[type='submit']"
) !default;