//
// WordPress
// --------------------------------------------------

$wp-breakpoint-sm:                         600px !default;
$wp-breakpoint-md:                         782px !default;

$wp-admin-bar-height:                      32px !default;
$wp-admin-bar-mobile-height:               46px !default;